<!-- templates/registration/login.html -->
{% extends 'main_template.html' %}

{% block title %}Password Reset{% endblock %}

{% block middleColumn %}
<div class="spaced-row">
  <div class="row">
    <div class="columns large-6">
      <div class="card">
        <div class="card-divider">
          <p>Forgot Password?</p>
        </div>
        <div class="card-section">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            </p>
            <!-- <input id="checkbox1" type="checkbox"><label for="checkbox1"><b>Remeber login info</b></label> -->
            <button type="submit" class="button large expanded"><b>Submit</b></button>
          </form>
        </div>
      </div>
    </div>
    <div class="columns large-6">
        <!-- These are only examples. They should be dynamically(?) loaded according to user input -->
        <!-- source: https://foundation.zurb.com/sites/docs/callout.html -->
        <div class="callout warning" data-closable>
          <h5>What is This?</h5>
          <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it. </p>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </div>
  </div>
</div>
{% endblock %}