{% extends 'main_template.html' %} {% block middleColumn %}
<form>
  <div class="spaced-row">
    <div class="row">
      <div class="columns large-6">
        <div class="card">
          <div class="card-divider">
            Create account
          </div>
          <form method="post"></form>
          <div class="card-section">
            <form method="post">
              {% csrf_token %}
			  {% for field in form %}
					{{field.label_tag }} {{ field }}
			  {% endfor %}
			  {% block js %}
				{{ form.media }}
			  {% endblock %}
              <button type="submit" class="button large expanded">
                <b>Sign me up!</b>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="columns large-6">
        <!-- These are only examples. They should be dynamically(?) loaded according to user input -->
        <!-- source: https://foundation.zurb.com/sites/docs/callout.html -->
        <div class="callout warning" data-closable>
          <h5>Errors</h5>
          {% for field in form %}
			<div class="fieldWrapper">
				{{ field.errors }}
			</div>
		   {% endfor %}
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="callout warning" data-closable>
          <h5>Password Requirements</h5>
          <p>Must be at least 8 characters long.</p>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="callout warning" data-closable>
          <h5>Password Recommendations</h5>
          <ul>
			<li>Have at least one number and one symbol.
			<li>Use more than one word if using words.
		  </ul>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
</form>

{% endblock %} {% block middleColumnPrev %}
<div class="row">
  <form method="post">
    <div class="card" style="width: 700px;">
      <div class="card-divider">
        <h4>Account Information</h4>
      </div>
      <div class="card-section">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="button">Sign Up</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}