{% extends "main_template.html" %}
{% load static %}

{% block middleColumn %}
<div class="spaced-row">
    <div class="row">
        <div class="columns large-8">
            <div class="card profile-card-action-icons">
                <div class="card-section">
                    <div class="profile-card-header">
                        <div class="profile-card-avatar">
                            <!-- <img class="avatar-image" src="{% static 'profileEditor/images/default_profile.jpg' %}" alt="{request user.first_name}"> -->
                            <img class="avatar-image" src="{{ profile.profile_pic.url }}" onerror="this.onerror=null;"
                                this.src="{% static 'profileEditor/images/default_profile.jpg' %}" width="10" height="10">
                        </div>
                        <div class="profile-card-author">
                            <h5 class="author-title">{{ profile.first_name }} {{ profile.last_name }}</h5>
                            <p class="author-description">
                                <br><i class="fi-home"></i> Things that I like #1 <br><br>
                                <i class="fi-home"></i> Things that I like #2 <br><br>
                                <i class="fi-home"></i> Things that I like #3
                            </p>
                        </div>
                    </div>
                    <div class="profile-card-about">
                        <h5 class="about-title separator-left">About Me</h5>
                        <p class="about-content">
                            {{profile.description}}
                        </p>
                    </div>
                    <div class="profile-card-about">
                        <div class="row">
                            <div class="columns large-4">
                                <div class="card-profile-stats-statistic">
                                    <span class="stat">25</span>
                                    <p>attended events</p>
                                </div> <!-- /.card-profile-stats-statistic -->
                            </div>
                            <div class="columns large-4">
                                <div class="card-profile-stats-statistic">
                                    <span class="stat">10</span>
                                    <p>friends</p>
                                </div> <!-- /.card-profile-stats-statistic -->
                            </div>
                            <div class="columns large-4">
                                <div class="card-profile-stats-statistic">
                                    <span class="stat">5</span>
                                    <p>likes</p>
                                </div> <!-- /.card-profile-stats-statistic -->
                            </div>
                        </div>
                    </div>
                    <div class="profile-card-action">
                        <div class="action-area">
                            <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true"
                                data-disable-hover="false" tabindex="2" title="Like profile">
                                <i class="fi-like" aria-hidden="true"></i>
                                <span class="show-for-sr">Like profile</span>
                            </a>
                        </div>
                        <div class="action-area">
                            <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true"
                                data-disable-hover="false" tabindex="2" title="Comment on profile">
                                <i class="fi-comment" aria-hidden="true"></i>
                                <span class="show-for-sr">Comment on profile</span>
                            </a>
                        </div>
                        <div class="action-area">
                            <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true"
                                data-disable-hover="false" tabindex="2" title="Add as friend">
                                <i class="fi-plus" aria-hidden="true"></i>
                                <span class="show-for-sr">Add as friend</span>
                            </a>
                        </div>
                        <div class="action-area">
                            <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true"
                                data-disable-hover="false" tabindex="2" title="Block!">
                                <i class="fi-prohibited" aria-hidden="true"></i>
                                <span class="show-for-sr">Block!</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% if user == profile %}
        <div class="columns large-4">
            <div class="row">
                <! EDIT BUTTON >
                <div class="columns large-6">
                    <a href="{% url 'edit' %}" class="button-badge-large" id="edit">
                        <i class="fi-pencil"></i>
                    </a>
                </div>
                <div class="columns large-6">
                    <a href="#" class="button-badge-large" id="inbox">
                        <i class="fi-mail"></i>
                        <span class="badge alert">5</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="columns large-6">
                    <a href="#" class="button-badge-large" id="calendar">
                        <i class="fi-calendar"></i>
                    </a>
                </div>
                <div class="columns large-6">
                    <a href="#" class="button-badge-large" id="admin">
                        <i class="fi-torsos"></i>
                    </a>
                </div>
            </div>
        </div>
        {%endif%}
    </div>
</div>
</div>
</div>
<script>
console.log("test");
console.log("{{ profile.first_name }}");
</script>
{% endblock %}

{% block sideBar %}
<!--TODO Add code here-->
{% endblock %}