{% extends "main_template.html" %}
{% load static %}

{% block middleColumn %}
<form method="post">
    <div class="spaced-row">
        <div class="row">
            <div class="columns large-8 userProfileAboutMe">
                <div class="card">
                    <div class="card-divider">
                        <h7 class="author-title">
							{{ form.first_name.label_tag }} {{ form.first_name }}
						</h7>
						<h7 class="author-title">
							{{form.last_name.label_tag}} {{ form.last_name }}
						</h7>
                    </div>
                    <div class="card-section">
                        <div class="row">
                            <div class="columns large-4 userProfileImage">
                                <img class="cover" src="{% static 'profileEditor/images/thispersondoesnotexist.jpg' %}"
                                    onerror="this.onerror=null;" this.src="{% static 'profileEditor/images/default_profile.jpg' %}">
                                {{form.profile_pic}}
                                <div class="progress" role="progressbar" tabindex="0" aria-valuenow="75" aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div class="progress-meter" style="width:75%">
                                    </div>
                                    <span data-tooltip tabindex="1" title="This user's event show-up rate: 75%"
                                        data-position="bottom">What's
                                        this?</span>
                                </div>
                            </div>
                            <div class="columns large-8">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.description }}
                                </form>
                            </div>
                        </div>
                    </div>
					<div class="card-footer">
					<div class="row align-center">
						<div class="columns">
							<button type="submit" class="button" style="background-color:green;">
								 Submit</i>
						</div>
						<div class="columns">
							<a href="{% url 'profileManage' %}" class="button" id="inbox" style="background-color:red;">
								Discard</i>
							</a>
						</div>
					</div>
					</div>
				</div>
			</div>
            <div class="columns large-4 userProfileJobDoughnutChart">
                <canvas id="myChart" width="400" height="400"></canvas>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: ['Chef', 'Food server', 'Cleanup', 'Mentor'],
                            datasets: [{
                                data: [12, 19, 3, 5],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)'
                                ],
                                borderWidth: 0
                            }]
                        }
                    });
                </script>
            </div>
        </div>
        <div class="row">
            <div class="columns large-8">

            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block sideBar %}
<!--TODO Add code here-->
{% endblock %}