{% extends "main_template.html" %}
{% load static %}

{% block middleColumn %}
<div class="spaced-row">
    <div class="row">
        <div class="columns large-12">
            {% if user == profile %}
            <a href="{% url 'events' %}">Calendar</a> / <a href="{% url 'edit' %}">Edit
                Profile</a>
            {% else %}
            <a href="#">Message user</a> / <a href="#" id="red-text">Report user</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="columns large-12 userProfileAboutMe">
            <div class="card">
                <div class="card-divider">
                    {{ profile.first_name }} {{ profile.last_name }}
                </div>
                <div class="card-section">
                    <div class="row">

                        <div class="columns large-4 userProfileImage">
                            <img class="cover" src="{% static 'profileEditor/images/thispersondoesnotexist.jpg' %}"
                                onerror="this.onerror=null;" this.src="{% static 'profileEditor/images/default_profile.jpg' %}">
<!--
                            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100">
                                <div class="progress-meter" style="width:75%">
                                </div>
                                <span data-tooltip tabindex="1" title="{{profile.first_name}}'s event attendence rate: 75%"
                                    data-position="bottom">What's this?</span>
                            </div>
-->
                        </div>
                        <div class="columns large-8">
                            <div class="aboutMeTitle">
                                <h4>About me</h4>
                            </div>
                            <div class="aboutMeContent">
                                {{profile.description}}
                            </div>
                            <div class="switch tiny float-right">
                                <span class="switch-text">
                                    Organization administrator
                                </span>
                                <input class="switch-input" id="tinySwitch" type="checkbox" name="tinySwitch">
                                <label class="switch-paddle" for="tinySwitch">
                                    <span class="show-for-sr">Toggles the true or false value of if current user is an
                                        organization administrator</span>
                                </label>
                                <script>
                                    var switchStatus = false;
                                    $("#tinySwitch").on('change', function () {
                                        $.get()
                                        switchStatus = $(this).is(':checked');
                                        alert(switchStatus);
                                        if(switchStatus){
                                            //ajax
                                        }else{
                                            //ajax
                                        }
                                    })
                                    document.getElementById('switchStatus').innerHTML = switchStatus.toString();
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="columns large-4 userProfileJobDoughnutChart">
            <canvas id="myChart" width="400" height="400"></canvas>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ['Chef', 'Food server', 'Cleanup', 'Mentor'],
                        datasets: [{
                            data: [12, 19, 3, 5],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)'
                            ],
                            borderWidth: 0
                        }]
                    }
                });
            </script>
        </div>
        -->
    </div>
    <div class="row">
        <div class="columns large-4 userProfileCertificate">
            <div class="row">
                <div class="column large-12">
                    <div class="card">
                        <div class="card-divider" style="font-size: 1em;">ServSafe Food Handler</div>
                        <div class="card-section">Valid thru: March 28, 2020<br> <a href="https://www.servsafe.com/ServSafe-Food-Handler">Link
                                to certificate website</a>
                            <div class="switch tiny float-right">
                                <input class="switch-input" id="foodHandlerSwitch" type="checkbox" name="foodHandlerSwitch">
                                <label class="switch-paddle" for="foodHandlerSwitch">
                                    <span class="show-for-sr">Toggles the true or false value of if current user is an
                                        organization owner</span>
                                </label>
                                <script>
                                    var switchStatus = false;
                                    $("#foodHandlerSwitch").on('change', function () {
                                        $.get()
                                        switchStatus = $(this).is(':checked');
                                        alert(switchStatus);
                                        // '{{ profile.toggle_is_org_owner }}'
                                        // alert('{{profile.is_org_owner}}')
                                    })
                                    document.getElementById('switchStatus').innerHTML = switchStatus.toString();
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column large-12">
                    <div class="card">
                        <div class="card-divider" style="font-size: 1em;">CDL Class A</div>
                        <div class="card-section">Valid thru: March 28, 2020<br> <a href="https://www.fmcsa.dot.gov/registration/commercial-drivers-license">Link
                                to certificate website</a>
                            <div class="switch tiny float-right">
                                <input class="switch-input" id="CDLClassASwitch" type="checkbox" name="CDLClassASwitch">
                                <label class="switch-paddle" for="CDLClassASwitch">
                                    <span class="show-for-sr">Toggles the true or false value of if current user is an
                                        organization owner</span>
                                </label>
                                <script>
                                    var switchStatus = false;
                                    $("#CDLClassASwitch").on('change', function () {
                                        $.get()
                                        switchStatus = $(this).is(':checked');
                                        alert(switchStatus);
                                        // '{{ profile.toggle_is_org_owner }}'
                                        // alert('{{profile.is_org_owner}}')
                                    })
                                    document.getElementById('switchStatus').innerHTML = switchStatus.toString();
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns large-4 userProfileCertificate">
            <div class="row">
                <div class="column large-12">
                    <div class="card">
                        <div class="card-divider" style="font-size: 1em;">Driver's License</div>
                        <div class="card-section">Valid thru: March 28, 2020<br> <a href="https://www.servsafe.com/ServSafe-Food-Handler">Link
                                to certificate website</a>
                            <div class="switch tiny float-right">
                                <input class="switch-input" id="driversLicenseSwitch" type="checkbox" name="driversLicenseSwitch">
                                <label class="switch-paddle" for="driversLicenseSwitch">
                                    <span class="show-for-sr">Toggles the true or false value of if current user is an
                                        organization owner</span>
                                </label>
                                <script>
                                    var switchStatus = false;
                                    $("#driversLicenseSwitch").on('change', function () {
                                        $.get()
                                        switchStatus = $(this).is(':checked');
                                        if(switchStatus){
                                            //ajax
                                        }else{
                                            //ajax
                                        }
                                    })
                                    document.getElementById('switchStatus').innerHTML = switchStatus.toString();
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column large-12">
                    <div class="card">
                        <div class="card-divider" style="font-size: 1em;">CDL Class B</div>
                        <div class="card-section">Valid thru: March 28, 2020<br> <a href="https://www.fmcsa.dot.gov/registration/commercial-drivers-license">Link
                                to certificate website</a>
                            <div class="switch tiny float-right">
                                <input class="switch-input" id="CDLClassBSwitch" type="checkbox" name="CDLClassBSwitch">
                                <label class="switch-paddle" for="CDLClassBSwitch">
                                    <span class="show-for-sr">Toggles the true or false value of if current user is an
                                        organization owner</span>
                                </label>
                                <script>
                                    var switchStatus = false;
                                    $("#CDLClassBSwitch").on('change', function () {
                                        $.get()
                                        switchStatus = $(this).is(':checked');
                                        alert(switchStatus);
                                        // '{{ profile.toggle_is_org_owner }}'
                                        // alert('{{profile.is_org_owner}}')
                                    })
                                    document.getElementById('switchStatus').innerHTML = switchStatus.toString();
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns large-4 userProfileCertificate">
            <div class="row">
                <div class="column large-12">
                    <div class="card">
                        <div class="card-divider" style="font-size: 1em;">TAPS Card</div>
                        <div class="card-section">Valid thru: March 28, 2020<br> <a href="https://www.alaskacharr.com/tap.html">Link
                                to certificate website</a>
                            <div class="switch tiny float-right">
                                <input class="switch-input" id="TAPSCardSwitch" type="checkbox" name="TAPSCardSwitch">
                                <label class="switch-paddle" for="TAPSCardSwitch">
                                    <span class="show-for-sr">Toggles the true or false value of if current user is an
                                        organization owner</span>
                                </label>
                                <script>
                                    var switchStatus = false;
                                    $("#TAPSCardSwitch").on('change', function () {
                                        $.get()
                                        switchStatus = $(this).is(':checked');
                                        alert(switchStatus);
                                        // '{{ profile.toggle_is_org_owner }}'
                                        // alert('{{profile.is_org_owner}}')
                                    })
                                    document.getElementById('switchStatus').innerHTML = switchStatus.toString();
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column large-12">
                    <div class="card">
                        <div class="card-divider" style="font-size: 1em;">CDL Class C</div>
                        <div class="card-section">Valid thru: March 28, 2020<br> <a href="https://www.fmcsa.dot.gov/registration/commercial-drivers-license">Link
                                to certificate website</a>
                            <div class="switch tiny float-right">
                                <input class="switch-input" id="CDLClassCSwitch" type="checkbox" name="CDLClassCSwitch">
                                <label class="switch-paddle" for="CDLClassCSwitch">
                                    <span class="show-for-sr">Toggles the true or false value of if current user is an
                                        organization owner</span>
                                </label>
                                <script>
                                    var switchStatus = false;
                                    $("#CDLClassCSwitch").on('change', function () {
                                        $.get()
                                        switchStatus = $(this).is(':checked');
                                        alert(switchStatus);
                                        // '{{ profile.toggle_is_org_owner }}'
                                        // alert('{{profile.is_org_owner}}')
                                    })
                                    document.getElementById('switchStatus').innerHTML = switchStatus.toString();
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sideBar %}
<!--TODO Add code here-->
{% endblock %}
