{% extends "main_template.html" %}
{% load static %}

{% block middleColumnAuthorizedUser %}
<div class="space-row">
    <div class="row">
        <div class="columns large-8">
            <div class="card profile-card-action-icons">
                <div class="card-section">
                    <div class="profile-card-header">
                        <div class="profile-card-avatar">
                            <img class="avatar-image" src="{% static 'profileEditor/images/default_profile.jpg' %}" alt="{request user.first_name}">
                        </div>
                        <div class="profile-card-author">
                            <h5 class="author-title">{{ user.first_name }} {{ user.last_name }}</h5>
                            <p class="author-description">
                                <br><i class="fi-home"></i> Things that I like #1 <br><br>
                                <i class="fi-home"></i> Things that I like #2 <br><br>
                                <i class="fi-home"></i> Things that I like #3
                            </p>
                        </div>
                    </div>
                    <div class="profile-card-about">
                        <h5 class="about-title separator-left">About Me</h5>
                        <p class="about-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem eveniet nulla quae
                            ullam sit iure voluptatum, nesciunt voluptas perferendis, minus natus in quaerat?
                        </p>
                    </div>
                    <div class="profile-card-action">
                        <div class="action-area">
                            <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true"
                                data-disable-hover="false" tabindex="2" title="Like profile">
                                <i class="fi-like" aria-hidden="true"></i>
                                <span class="show-for-sr">Like profile</span>
                            </a>
                        </div>
                        <div class="action-area">
                            <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true"
                                data-disable-hover="false" tabindex="2" title="Comment on profile">
                                <i class="fi-comment" aria-hidden="true"></i>
                                <span class="show-for-sr">Comment on profile</span>
                            </a>
                        </div>
                        <div class="action-area">
                            <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true"
                                data-disable-hover="false" tabindex="2" title="Add as friend">
                                <i class="fi-plus" aria-hidden="true"></i>
                                <span class="show-for-sr">Add as friend</span>
                            </a>
                        </div>
                        <div class="action-area">
                            <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true"
                                data-disable-hover="false" tabindex="2" title="Block!">
                                <i class="fi-prohibited" aria-hidden="true"></i>
                                <span class="show-for-sr">Block!</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
{% endblock %}

{% block sideBar %}
<!--TODO Add code here-->
{% endblock %}