@import '../_variables';
@import '../functions';

$font-color: #ffffff;
$danger-color: red;

.button {
    background-color: $theme-color-med;
    color: $font-color;
    font-family: $font-stack;
    transition: $selectable-transition;
    border-radius: $global-border-radius;
    &:hover {
        color: $theme-color-dark;
        background-color: shade($theme-color-medlight,10);
    }
}

.secondary-button {
    color: $danger-color;
}

.jobjoin {
    padding: 5px;
}

#blocked-button {
    background-color: gray;
    color: rgb(185, 185, 185);
}