@import '../_variables';

.profileTemplate {
    .spaced-row {
        .row {
            .profileImage {
                width: 100%;
                height: 200%;
            }
            .profileAdditionalInfo {
                .profileTitle p {
                    text-align: center;
                    font-size: 1.5em;
                }
                .profileAttributes {
                    text-align: center;
                }
            }
            .profileDescriptionTitle p{
                font-size: 1.25em;
                display: flex;
                width: 100%;
                align-items: center;
                &::before {
                    content: "";
                    background: linear-gradient(to left, $theme-color-darkmed, $theme-color-med, $theme-color-medlight, white);
                    height: 0.1em;
                    margin: 0.2em;
                    flex: 1;
                }
                &::after {
                    @extend ::before;
                    background: linear-gradient(to right, $theme-color-darkmed, $theme-color-med, $theme-color-medlight, white);
                }
            }
        }
    }
}

.progress {
    &.success .progress-meter{
        background: $theme-gradient-to-bottom-right;
    }
    .progress-meter {
        background: rgb(150, 150, 150);
        margin-top: 4px;
    }
}