.suggestedEvents {
    &Title {
        font-size: 1.5em;
        font-weight: bold;
        padding-bottom: 10px;
        color:rgb(0, 0, 0);
    }
    &Description {
        color:rgb(0, 0, 0);
    }
    &Attributes {
        color:rgb(0, 0, 0);
    }
}