@import '../_variables';

// this module needs to be renamed/revamped--is only the middle chunk (see "inspect elemtent")
.upcomingEventsModalable {
    background: rgba(0, 0, 0, 0.7);
    border-radius: $global-border-radius;
    li {
        transition: $selectable-transition; // so that transition will happen *after* hover as well
        ul {
            padding: 10px;
        }
        a {
            color: white;
            font-family: $font-stack;
        }
        a:hover {
            color: white;
            border-radius: $global-border-radius
        }
    }
    margin-bottom: 20px;
}