{% extends "main_template.html" %}

{% block middleColumn %}
<h2>By creating an account you may additionally create an organization that looks for volunteers.</h2>

<input type="text" placeholder="e-mail">
<input type="text" placeholder="new password">
<input type="text" placeholder="re-enter password">
<input type="text" placeholder="first name">
<input type="text" placeholder="last name">
<input type="text" placeholder="phone number">
<input type="text" placeholder="area">

<button type="button" class="button">Submit</button>
{% endblock %}