 {% extends 'main_template.html' %} {% block middleColumn %}

<div class="large-5 columns">
    <div class="card">
        <div class="card-divider">
           <h4>Password Reset</h4>
        </div>
        <div class="card-section">
            <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit" class="button large expanded">
                    <b>Submit</b>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}