{% extends 'main_template.html' %} {% block middleColumn %}
<form>
  <div class="spaced-row">
    <div class="row">
      <div class="columns large-6">
        <div class="card">
          <div class="card-divider">
            <h3>Create account</h3>
          </div>
          <form method="post"></form>
          <div class="card-section">
            <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <input id="checkbox1" type="checkbox">
            <label for="checkbox1">
              <b>Don't send me e-mails</b>
            </label>
            <button type="submit" class="button large expanded">
              <b>Sign me up!</b>
            </button>
            </form>
          </div>
        </div>
      </div>
      <div class="columns large-6">
        <!-- These are only examples. They should be dynamically(?) loaded according to user input -->
        <!-- source: https://foundation.zurb.com/sites/docs/callout.html -->
        <div class="callout warning" data-closable>
          <h5>Missing fields</h5>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
          <a href="#">It's dangerous to go alone, take this.</a>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="callout alert" data-closable>
          <h5>Password low security</h5>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
          <a href="#">It's dangerous to go alone, take this.</a>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="callout alert" data-closable>
          <h5>Re-entered password does not match</h5>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
          <a href="#">It's dangerous to go alone, take this.</a>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
</form>

{% endblock %} {% block middleColumnPrev %}
<div class="row">
  <form method="post">
    <div class="card" style="width: 700px;">
      <div class="card-divider">
        <h4>Account Information</h4>
      </div>
      <div class="card-section">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="button">Sign Up</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}