{% extends "main_template.html" %}
{% block headerInclude %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'events/css/card.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'events/css/calendar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'events/css/fullcalendar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'events/css/jquery.qtip.min.css' %}">
<link rel="stylesheet" media="print" href="{% static 'events/css/fullcalendar.print.css' %}" />
<script src="{% static 'events/js/fullcalendar.js' %}">
</script>
<script src="{% static 'events/js/gcal.js' %}">
</script>
<script src="{% static 'events/js/jquery.qtip.min.js' %}">
</script>
{% endblock %}

{% block middleColumn %}
<h1 class="text-center">
    Volunteer Opportunities
</h1>

<div class="edge">
    <div id="fullcalendar"></div>
</div>
<div class="reveal" id="event1" data-reveal>
    <div class="profileTemplate">
        <div class="spaced-row">
            <div class="row">
                <div class="columns large-12">
                    <a href="#" id="red-text"><span> Report event </span></a>
                </div>
            </div>
            <div class="row">
                <div class="large-4 columns profileImage">
                    <img src="static/images/28469.png">
                </div>
                <div class="large-8 columns profileAdditionalInfo">
                    <div class="profileTitle">
                        <span id="eventName"></span>
                    </div>
                    <div class="profileAttributes">
                        <span id="eventLocation"></span>
                        <br>
                        <span id="eventStartDate"></span> ~ <span id="eventEndDate"></span>
                        <br>

                        <span id="eventStartTime"></span> ~ <span id="eventEndTime"></span>
                        <br>
                        Host: <span id="eventOrgName"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns profileDescriptionTitle">
                    <p>About this event</p>
                </div>
                <div class="row">
                    <div class="large-12 columns profileDescription">
                        <span id="eventDescription"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-offset-10 large-2 columns">
                    <button class="button jobjoin" id="toEvent" onclick="window.location.href='/eventEdit/'">More Details</button>
                </div>
            </div>
        </div>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
          <!-- <button class="button float-right" type="button">See more >></button> -->
    </div>
</div>
<script>
    !function () {
        $("#fullcalendar").fullCalendar({
            header: {
                left: "month,listMonth",
                center: "title",
                right: "prev,today,next"
            },
            eventLimit: true, // for all non-agenda views
            views: {
                month: {
                    eventLimit: 4 // adjust to 6 only for agendaWeek/agendaDay
                }
            },
            eventBackgroundColor: 'white',
            eventBorderColor: 'Grey',
            eventTextColor: 'Black',
            timeFormat: 'h(:mm)t',
            displayEventTime: true,
            displayEventEnd: true,
            eventRender: function(event, element) {
                element.qtip({
                    content: event.shortDes,
                    position: {
                        my: 'bottom left',  // Position my top left...
                        at: 'top left', // at the bottom right of...
                    }
                });
            },
            events: [
                {% for event in allEvents %}
                    {
                        title: '{{event.name}}',
                        shortDes: '{{event.description}}',
                        start: '{{event.fullCallendarStartFormat}}',
                        end: '{{event.fullCallendarEndFormat}}',
                        allDay: false,
                        id: '{{event.id}}'
                    },
                {% endfor %}
            ],
            selectable: true,
            eventResizeStart: true,
            eventDragStart: false,
            eventClick: function(info){
                $.ajax({
                    method: "POST",
                    url: '/orgAdminPanel/getEvent/',
                    data: { 'id': info.id, csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: getEventSuccess,
                    error: getEventError,
                })
            }
        });
    }();
    

    function getEventSuccess(data, textStatus, jqXHR){

        $("#eventName").html(data['name']);
        $("#eventLocation").html(data['location']);
        $("#eventStartDate").html(data['startdate']);
        $("#eventEndDate").html(data['enddate']);
        $("#eventStartTime").html(data['starttime']);
        $("#eventEndTime").html(data['endtime']);
        $("#eventOrgName").html(data['org']);
        $("#eventDescription").html(data['description']);
        $("#toEvent").attr('onclick', "window.location.href='/eventEdit/?event=" + data['id'] + "'");
        var popup2 = new Foundation.Reveal($('#event1'));
        popup2.open();
    }

    function getEventError(jqXHR, textStatus, errorThrown){
        console.log(jqXHR)
        console.log(textStatus)
        console.log(errorThrown)
    }
</script>
{% endblock %}

{% block sideBar %}
<!--TODO Add code here-->
{% endblock %}