{% extends "main_template.html" %}
{% block headerInclude %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'events/css/card.css' %}">
{% endblock %}
{% block middleColumn %}
<h1 class="text-center">
	Volunteer Opportunities
</h1>
<div class="row eventTopPadding">
<div class="columns">
<form name="search" action="" method="get">
  <div class="grid-container eventBackground">
    <div class="grid-x grid-padding-x text-center">
      <div>
        <label>By Organization
          <select value="organization">
			<option value="husker">Husker</option>
			<option value="starbuck">Starbuck</option>
			<option value="hotdog">Hot Dog</option>
			<option value="apollo">Apollo</option>
		  </select>
        </label>
      </div>
      <div>
        <label>By Name
          <input type="text" placeholder="Name" value="name">
        </label>
      </div>
	  <div>
        <label>By Date
          <input type="datetime" placeholder="date" value="date">
        </label>
      </div>
	  <div>
        <label>By Location
          <input type="text" placeholder="Fairbanks" value="location">
        </label>
      </div>
	  <input type="submit" value="Submit">
    </div>
  </div>
</form>
</div>
<div class="medium-8 columns">
	<table class="table-scroll hover ">
	  <thead>
		<tr>
		  <th width="100">Event Title</th>
		  <th width="200">Description</th>
		  <th width="50">Time</th>
		  <th width="50">Location</th>
		</tr>
	  </thead>
	  <tbody>
		<tr>
		  <td><font size="2">Content Goes Here</font></td>
		  <td><font size="2">This is longer content Donec id elit non mi porta gravida at eget metus.</font></td>
		  <td><font size="1">Content Goes Here</font></td>
		  <td><font size="1">Content Goes Here</font></td>
		</tr>
		<tr>
		  <td><font size="2">Content Goes Here</font></td>
		  <td><font size="2">This is longer content Donec id elit non mi porta gravida at eget metus.</font></td>
		  <td><font size="1">Content Goes Here</font></td>
		  <td><font size="1">Content Goes Here</font></td>
		</tr>
		<tr>
		  <td><font size="2">Content Goes Here</font></td>
		  <td><font size="2">This is longer content Donec id elit non mi porta gravida at eget metus.</font></td>
		  <td><font size="1">Content Goes Here</font></td>
		  <td><font size="1">Content Goes Here</font></td>
		</tr>
	  </tbody>
	</table>
</div>
{% endblock %}

{% block sideBar %}
<!--TODO Add code here-->
{% endblock %}
