{% extends "main_template.html" %}
{% block headerInclude %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'events/css/card.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'events/css/calendar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'events/css/fullcalendar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'events/css/jquery.qtip.min.css' %}">
    	<link rel="stylesheet" media="print" href="{% static 'events/css/fullcalendar.print.css' %}" />
	<script src="{% static 'events/js/fullcalendar.js' %}" >
    	</script> 
	<script src="{% static 'events/js/gcal.js' %}" >
    	</script> 
	<script src="{% static 'events/js/jquery.qtip.min.js' %}" >
    	</script> 
{% endblock %}
{% block middleColumn %}
<h1 class="text-center">
	Volunteer Opportunities
</h1>

<div class="edge">
  <div id="fullcalendar"></div>
</div>

<script>

!function() {
    $("#fullcalendar").fullCalendar({
        header: {
            left: "month,listMonth",
            center: "title",
            right: "prev,today,next"
        },
        eventLimit: true, // for all non-agenda views
        views: {
            month: {
              eventLimit: 4 // adjust to 6 only for agendaWeek/agendaDay
            }
          },
        eventBackgroundColor: 'white',
        eventBorderColor: 'Grey',
        eventTextColor: 'Black',
        timeFormat: 'h(:mm)t',
        displayEventTime: true,
        displayEventEnd: true,
        events: [
            {
                title: 'Brunch',
                start: new Date(2019, 1, 6, 19, 0),
                end: new Date(2019, 1, 6, 23, 30),
                allDay: false
            },
            {
                title: 'A really long event title for testing purposes dont worry this is just a test im trying to figure out if the ui breaks',
                description: 'Hello',
                start: new Date(2019, 1, 6, 1, 0),
                end: new Date(2019, 1, 6, 2, 30),
                allDay: false
            },
            {
                title: 'Brunch',
                start: new Date(2019, 1, 6, 10, 0),
                end: new Date(2019, 1, 6, 11, 30),
                allDay: false
            },
            {
                title: 'Brunch',
                start: new Date(2019, 1, 6, 5, 0),
                end: new Date(2019, 1, 6, 23, 30),
                allDay: false
            },
            {
                title: 'Brunch',
                start: new Date(2019, 1, 4, 19, 0),
                end: new Date(2019, 1, 6, 23, 30),
                allDay: false
            },
            {
                title: 'Brunch',
                start: new Date(2019, 1, 8, 19, 0),
                end: new Date(2019, 1, 6, 23, 30),
                allDay: false
            },
            {
                title: 'Brunch',
                start: new Date(2019, 1, 15, 19, 0),
                end: new Date(2019, 1, 6, 23, 30),
                allDay: false
            },
            {
                title: 'Brunch',
                start: new Date(2019, 1, 23, 19, 0),
                end: new Date(2019, 1, 6, 23, 30),
                allDay: false
            },
            {
                title: 'Brunch',
                start: new Date(2019, 1,11, 19, 0),
                end: new Date(2019, 1, 6, 23, 30),
                allDay: false
            },
            {
                title: 'Brunch',
                start: new Date(2019, 1, 7, 19, 0),
                end: new Date(2019, 1, 6, 23, 30),
                allDay: false
            },
            {
                title: 'Brunch',
                start: new Date(2019, 1, 7, 19, 0),
                end: new Date(2019, 1, 6, 23, 30),
                allDay: false
            }
        ],
        selectable: true,
        eventResizeStart: true,
        eventDragStart: false,
    });
}();

</script>
{% endblock %}

{% block sideBar %}
<!--TODO Add code here-->
{% endblock %}
