{% extends "main_template.html" %}
{% block headerInclude %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/datatables.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/filter.css' %}" />
	<script type= "text/javascript" src="{% static 'events/js/datatables.min.js' %}" >
    	</script> 
{% endblock %}
{% block middleColumn %}
<h1 class="text-center">
	Volunteer Opportunities
</h1>

<div class="row eventTopPadding">
<div class="columns">
  <div class="grid-container eventSearchBackground">
    <div class="grid-x grid-padding-x text-center">
    <div class="row">
      <div class="medium-3 columns">
        <label>By Organization
            <div class="inputCol"><input id="place1" type="text" placeholder="Search Name" /></div>
        </label>
      </div>
      <div class="medium-3 columns">
        <label>By Name
          <div class="inputCol"><input id="place2" type="text" placeholder="Search " /></div>
        </label>
      </div>
	  <div class="medium-3 columns">
        <label>By Date
          <div class="inputCol"><input id="place3" type="text" placeholder="Search " /></div>
        </label>
      </div>
	  <div class="medium-3 columns">
        <label>By Location
          <div class="inputCol"><input id="place4" type="text" placeholder="Search " /></div>
        </label>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="medium-12 columns eventFilterBackground">
	<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Event Title</th>
                <th>Organization</th>
                <th>Desciption</th>
                <th>Positions Needed</th>
                <th>Date/Time</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            
            {% for event in allEvents %}
                    <tr>
                        <td>{{event.name}}</td>
                        <td>{{event.orgID}}</td>
                        <td>{{event.description}}</td>
                        <td>{{event.personelMax}}</td>
                        <td>{{event.startdate}}</td>
                        <td>{{event.location}}</td>
                    </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Event Title</th>
                <th>Organization</th>
                <th>Desciption</th>
                <th>Positions Needed</th>
                <th>Date/Time</th>
                <th>Location</th>
            </tr>
        </tfoot>
    </table>
</div>
<script type= "text/javascript">
$(document).ready(function() {

    // DataTable
    var table = $('#example').DataTable({
        dom: "rtiplf",
        bInfo: false,
        autoWidth: false,
        columns: [
            { "width": "35%" },
            { "width": "10%" },
            { "width": "40%" },
            { "width": "5%" },
            { "width": "5%" },
            { "width": "5%" }
  ]
    });
 
    $('#place1').on( 'keyup', function () {
        table
            .columns( 1 )
            .search( this.value )
            .draw();
    } );
    $('#place2').on( 'keyup', function () {
        table
            .columns( 0 )
            .search( this.value )
            .draw();
    } );
    $('#place3').on( 'keyup', function () {
        table
            .columns( 4 )
            .search( this.value )
            .draw();
    } );
    $('#place4').on( 'keyup', function () {
        table
            .columns( 5 )
            .search( this.value )
            .draw();
    } );
} );
</script>
{% endblock %}

{% block sideBar %}
<!--TODO Add code here-->
{% endblock %}
