{% extends "main_template.html" %}
{% block headerInclude %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'events/css/datatables.min.css' %}" />
<!-- <link rel="stylesheet" type="text/css" href="{% static 'events/css/filter.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'source/css/foundation.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'source/css/output.css' %}" />
<script type="text/javascript" src="{% static 'events/js/datatables.min.js' %}">
</script>
{% endblock %}
{% block middleColumn %}
<div class="spaced-row">
    <div class="row">
        <div class="large-12 columns text-center">
            <h1 class="textWithBar">Search Opportunities</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="large-3 columns">
            <label>By Name
                <div class="inputCol"><input id="place1" type="text" placeholder="Event name" /></div>
            </label>
        </div>
        <div class="large-3 columns">
            <label>By Organization
                <div class="inputCol"><input id="place2" type="text" placeholder="Organization name" /></div>
            </label>
        </div>
        <div class="large-3 columns">
            <label>By Date
                <div class="inputCol"><input id="place3" type="text" placeholder="Date" /></div>
            </label>
        </div>
        <div class="large-3 columns">
            <label>By Location
                <div class="inputCol"><input id="place4" type="text" placeholder="Location" /></div>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns eventFilterBackground">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Event Title</th>
                        <th>Organization</th>
                        <th>Desciption</th>
                        <th>Positions Needed</th>
                        <th>Date/Time</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>

                    {% for event in allEvents %}
                    <tr>
                        <td>{{event.id}}</td>
                        <td>{{event.name}}</td>
                        <td>{{event.orgID}}</td>
                        <td>{{event.description}}</td>
                        <td>{{event.personelMax}}</td>
                        <td>{{event.startdate}}</td>
                        <td>{{event.location}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>id</th>
                        <th>Event Title</th>
                        <th>Organization</th>
                        <th>Desciption</th>
                        <th>Positions Needed</th>
                        <th>Date/Time</th>
                        <th>Location</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {

                // DataTable
                var table = $('#example').DataTable({
                    dom: "rtlp",
                    bInfo: false,
                    autoWidth: false,
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        }
                    ],
                    columns: [
                        { "width": "0%" },
                        { "width": "35%" },
                        { "width": "10%" },
                        { "width": "40%" },
                        { "width": "5%" },
                        { "width": "5%" },
                        { "width": "5%" }
                    ]
                });

                $('#place1').on('keyup', function () {
                    table
                        .columns(1)
                        .search(this.value)
                        .draw();
                });
                $('#place2').on('keyup', function () {
                    table
                        .columns(2)
                        .search(this.value)
                        .draw();
                });
                $('#place3').on('keyup', function () {
                    table
                        .columns(5)
                        .search(this.value)
                        .draw();
                });
                $('#place4').on('keyup', function () {
                    table
                        .columns(6)
                        .search(this.value)
                        .draw();
                });

                $('#example tbody').on('click', 'tr', function () {
                    var data = table.row(this).data();
                    $.ajax({
                        method: "POST",
                        url: '/orgAdminPanel/getEvent/',
                        data: { 'id': data['0'], csrfmiddlewaretoken: '{{ csrf_token }}'},
                        success: getEventSuccess,
                        error: getEventError,
                    })
                });
            });
        </script>
    </div>
</div>
<div class="reveal" id="event1" data-reveal>
    <div class="profileTemplate">
        <div class="spaced-row">
            <div class="row">
                <div class="columns large-12">
                    <a href="#" id="red-text"><span> Report event </span></a>
                </div>
            </div>
            <div class="row">
                <div class="large-4 columns profileImage">
                    <img src="static/images/28469.png">
                </div>
                <div class="large-8 columns profileAdditionalInfo">
                    <div class="profileTitle">
                        <span id="eventName"></span>
                    </div>
                    <div class="profileAttributes">
                        <span id="eventLocation"></span>
                        <br>
                        <span id="eventStartDate"></span> ~ <span id="eventEndDate"></span>
                        <br>

                        <span id="eventStartTime"></span> ~ <span id="eventEndTime"></span>
                        <br>
                        Host: <span id="eventOrgName"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns profileDescriptionTitle">
                    <p>About this event</p>
                </div>
                <div class="row">
                    <div class="large-12 columns profileDescription">
                        <span id="eventDescription"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-offset-10 large-2 columns">
                    <button class="button jobjoin" id="toEvent" onclick="window.location.href='/eventEdit/'">More Details</button>
                </div>
            </div>
        </div>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
          <!-- <button class="button float-right" type="button">See more >></button> -->
    </div>
</div>
<script>

function getEventSuccess(data, textStatus, jqXHR){

    $("#eventName").html(data['name']);
    $("#eventLocation").html(data['location']);
    $("#eventStartDate").html(data['startdate']);
    $("#eventEndDate").html(data['enddate']);
    $("#eventStartTime").html(data['starttime']);
    $("#eventEndTime").html(data['endtime']);
    $("#eventOrgName").html(data['org']);
    $("#eventDescription").html(data['description']);
    $("#toEvent").attr('onclick', "window.location.href='/eventEdit/?event=" + data['id'] + "'");
    var popup2 = new Foundation.Reveal($('#event1'));
    popup2.open();
}

function getEventError(jqXHR, textStatus, errorThrown){
    console.log(jqXHR)
    console.log(textStatus)
    console.log(errorThrown)
}
</script>
{% endblock %}

{% block sideBar %}
<!--TODO Add code here-->
{% endblock %}