{% extends "main_template.html" %}
{% block headerInclude %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/datatables.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/filter.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" /> 
	<script type= "text/javascript" src="{% static 'events/js/datatables.min.js' %}" >
    	</script> 
    <script type= "text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js" >
    	</script> 
{% endblock %}
{% block middleColumn%}

<div class="rows">
    <h1 class="small-offset-3 small-6 text-center columns eventFilterBackground"> 
		your organizations 
	</h1>
</div>
<div class="row">
	<div class="small-centered columns eventFilterBackground">
        <table id="table" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Organizations</th>
                    <th>Events Live</th>
					<th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for org in allOrgs %}
                    <tr>
                        <td><a href="/orgAdminPanel?org={{org}}">{{org}}</a></td>
                        <td>0</td>
                        <td><button id="editOrg" class="button tiny"><i class="fi-pencil"></i></button><button id="deleteOrg" class="button tiny alert"><i class="fi-trash"></i></button></td>

                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Organizations</th>
                    <th>Events Live</th>
					<th>Action</th>
                </tr>
            </tfoot>
        </table>
	</div>
</div>

<!-- add row reveals -->
<div class="reveal" id="addRow" data-reveal>
    <h1>New Organization</h1>
    <form class="my-ajax-form" method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'> {% csrf_token %}
        <div class="row">
            <div class="large-12 columns">
                <label>Organization
                    {{form.name}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Desciption
                {{form.description}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="offest-large-8 large-4 columns">
                <!-- <button id="buttonUser" type="button" value="send" class="success button" data-close>Submit</button>-->
                <input type="Submit" name="submit" value="Submit" data-close/>
                </div>
        </div>
    </form>
    <button class="close-button" data-close aria-label="Close modal" type="button">
    	<span aria-hidden="true">&times;</span>
    </button>
</div>
<script>
$(document).ready(function(){
    var $myForm = $('.my-ajax-form')
    $myForm.submit(function(event){
        event.preventDefault()
        var $formData = $(this).serialize()
        var $thisURL = $myForm.attr('data-url') || window.location.href // or set your own url
        
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
        })

    })

    function handleFormSuccess(data, textStatus, jqXHR){
        var name = $("#id_name").val()
        table.row.add( [
            "<a href='/orgAdminPanel?org='" + name + "'>" + name + "</a>",
            "0",
            "<button id=\"editOrg\" class=\"button tiny\"><i class=\"fi-pencil\"></i></button><button id=\"deleteOrg\" class=\"button tiny alert\"><i class=\"fi-trash\"></i></button>"
             ] ).draw( false );
        console.log(data)
        console.log(textStatus)
        console.log(jqXHR)
        $myForm[0].reset(); // reset form data
    }

    function handleFormError(jqXHR, textStatus, errorThrown){
        console.log(jqXHR)
        console.log(textStatus)
        console.log(errorThrown)
    }
})

var table = $('#table').DataTable({
    bInfo: false,
    autoWidth: false,
    dom: 'Bfrtip',
    buttons: [
        {
            text: 'Add Row',
            action: function ( e, dt, node, config ) {
                var popup = new Foundation.Reveal($('#addRow'));
                popup.open();
            }
        }
    ],
    columns: [
        { "width": "35%" },
        { "width": "60%" },
        { "width": "5%" }
    ]
});
$('#table').on("click", "#deleteOrg", function() {
            table.row($(this).parents('tr')).remove().draw(false);
});
$('#table').on("click", "#editOrg", function() {

});

</script>
{% endblock %}

{% block sideBar %}
<!--TODO Add code here-->
{% endblock %}

