{% extends "main_template.html" %}
{% block headerInclude %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.1/tinymce.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/eventEdit.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/datatables.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/filter.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" /> 
	<script type= "text/javascript" src="{% static 'events/js/datatables.min.js' %}" >
    	</script> 
    <script type= "text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js" >
    	</script> 
{% endblock %}
    
{% block middleColumn %}
<!DOCTYPE html>

    

<div class="row">
    <div class="column small-offset-3 large-6">
        <h1 class="text-center">{{event}}</h1>
    </div>
    <div class="column large-3">
        <button id="editEvent" class="button tiny"><i class="fi-pencil"></i></button>
    </div>
</div>

<div class="row" id="textEdit" style="display:none">
    <div class="column large-12">
        <form onSubmit="updateHTML(this);">
            <textarea id="basic-example">
                {{event.description}}
            </textarea>
            <button name="submitbtn"></button>
        </form>
    </div>
</div>
<div class="row eventFilterBackground" id="textDisplay">
    <div class="column large-12">
        <div id="textArea">
            {{event.description}}
        </div>
    </div>
</div>
<div class = "row">
    <div class="column large-12">
        <table id="jobs" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Job Title</th>
                    <th>Positions Needed</th>
                    <th>Date/Time</th>
                    <th>Signup</th>
                </tr>
            </thead>
            <tbody>
                {% for job in allJobs %}
                    <tr>
                        <td>{{job.id}}</td>
                        <td>{{job.name}}</td>
                        <td>{{job.personel}}/{{job.personelMax}}</td>
                        <td>{{job.startdate}} - {{job.enddate}}</td>
                        <td><button id="signupJob" class="button tiny"><i class="fi-pencil"></i></button><button id="deleteEvent" class="button tiny alert"><i class="fi-trash"></i></button></td>

                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>id</th>
                    <th>Job Title</th>
                    <th>Positions Needed</th>
                    <th>Date/Time</th>
                    <th>Signup</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>

$('#jobs').on("click", "#signupJob", function() {
    var data = table.row( $(this).parents('tr') ).data();
    // Ajax request
    $.ajax({
        method: "POST",                     // Post request
        url: "/eventEdit/signUpJobs/",  //url
        dataType: "json",                   //data being set
        data: {id: data[0], csrfmiddlewaretoken: '{{ csrf_token }}'},  //json data format must add csrfmiddlewaretoken: '{{ csrf_token }}' for the request
        success: function(result){
        },
        error: function(result){},
    })
});

$('#editEvent').click(function (e) {
    $('#textEdit').toggle();
    $('#textDisplay').toggle();
});

$(document).ready(function(){
    tinymce.init({
          selector: 'textarea#basic-example',
          height: 750,
          menubar: false,
          plugins: [
    'advlist autolink lists link image charmap print preview anchor textcolor save',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table paste code help wordcount'
  ],
  toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help | save ',
});
});
function updateHTML(element){
    var temp = tinymce.get('basic-example').getContent();
    console.log(temp);
    document.getElementById("textArea").innerHTML = temp;
    
    $.ajax({
        method: "POST",                     // Post request
        url: "/eventEdit/updateDes/",  //url
        dataType: "json",                   //data being set
        data: {id: "{{event.id}}",des:temp, csrfmiddlewaretoken: '{{ csrf_token }}'},  //json data format must add csrfmiddlewaretoken: '{{ csrf_token }}' for the request
        success: function(result){
        },
        error: function(result){},
    })
}
var table = $('#jobs').DataTable({
    bInfo: false,
    autoWidth: false,
    dom: 'Bfrtip',
    buttons: [
        {
            text: 'Create Jobs',
            action: function ( e, dt, node, config ) {
                var popup = new Foundation.Reveal($('#addRow'));
                popup.open();
            }
        }
    ],
    "columnDefs": [
            {
                "targets": [ 0 ],
                "visible": false,
                "searchable": false
            }
        ],
    columns: [
        { "width": "0%" },
        { "width": "35%" },
        { "width": "60%" },
        { "width": "5%" },
        { "width": "5%" }
    ]
});
</script>

{% endblock %}

{% block sideBar %}
<!--TODO Add code here-->
{% endblock %}
