body {
    background-image: url(wavy_woods.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hoverableImg {
    opacity: 0.75;
}

.hoverableImg:hover {
    opacity: 1.0;
}

.blog-post {
    margin: 10px;
}

.secondary-button {
    color: red;
}

.spaced-row .row {
    padding: 10px;
}

.hero .row {
    background-color: #d8d8d8;
}

.homeFont {
    font-size: 24px;
}

.forgotPassword a h6 {
    color: rgb(230, 230, 230);
}

.forgotPassword a h6:hover {
    color: rgb(58, 58, 58);
}

.scrollableEvents {
    padding-bottom: 20px;
}


.middle {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer {
    font-size: 20px;
    color: white;
    height: 200px;
    background-color: rgba(0,0,0,0.5);
    padding: 40px;
}

.footer .row .align-middle .text-align-middle .text-center .column .align-middle {
    color:black;
}

.vertical .menu li a {
    padding: 100px;
}

.upcomingEventsModalable {
    background: rgba(0, 0, 0, 0.7);
    border-radius: .3rem;
}

.upcomingEventsModalable li ul {
    padding: 10px;
    color: white;
}

.white-top-bar .top-bar, 
.white-top-bar .top-bar ul,
.button {
    background-color:#41362d;
}

.card-divider {
    background-color: #534337;
}

.top-bar-right ul li a, 
.homeFont,
.button,
.card,
.card-divider h3,
.upcomingEventsModalable li a,
.profile-card-action .action-area a i {
    color:#278a7d;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-card-action .action-area a i {
    font-size:1.2rem;
}

.card {
    background: rgba(126, 103, 90, 0.7);
    border-width: 2px;
}

.card-divider h3 {
    color:#3ac9b6;    
}

.menu > li > a:hover, 
.menu > a:hover,
.button:hover,
.upcomingEventsModalable li:hover  {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all ease 0.4s;
    border-radius: .3rem;
}

.suggestedEventsTitle {
    font-weight: bold;
    padding-bottom: 10px;
}


.suggestedEventsDescription, 
.suggestedEventsTitle, 
.suggestedEventsAttributes,
.profile-card-about {
    color:rgb(0, 0, 0);
}

.expanded .button-group .button {
    padding: 100px;
}

.menu .menu-text .homeFont i {
    font-size: 1.5rem;
}

/* source: https://foundation.zurb.com/building-blocks/blocks/card-profile-stats.html */
/* profile stats css */

.card .profile-card-action-icons .card-section
 {
    background-color: #0a0a0a;
}

.card .profile-card-action-icons {
    background-color: #0a0a0a;
}
  
.profile-card-about .card-profile-stats-intro {
text-align: center;
}

.profile-card-about .card-profile-stats-intro .card-profile-stats-intro-pic {
border-radius: 50%;
margin: 0 0 1.25rem;
}

.profile-card-about .card-profile-stats-intro .card-profile-stats-intro-content p:last-child {
margin: 0;
}

.profile-card-about .row .columns {
text-align: center;
}

.profile-card-about .card-profile-stats-container .card-profile-stats-statistic {
margin: 0 0 1.25rem;
}

.profile-card-about .card-profile-stats-container .card-profile-stats-statistic p:last-child {
margin: 0;
}

.card-profile-stats .card-profile-stats-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

/* source: https://foundation.zurb.com/building-blocks/blocks/button-badge.html */
/* button-badge */
.button-badge {
    width:100%;
    padding-top: 20%;
    padding-bottom: 20%;
    background-color: #278a7d;
    text-decoration: none;
    position: relative;
    display: inline-block;
    /* rounded corners roundess */
    border-radius: .3rem;
    transition: all ease 0.4s;
    text-align: center;
}

.button-badge-large {
    background-color: rgba(50, 50, 50, 0.5);
    width:100%;
    padding-top: 20%;
    padding-bottom: 20%;
    text-decoration: none;
    position: relative;
    display: inline-block;
    /* rounded corners roundess */
    border-radius: .3rem;
    transition: all ease 0.3s;
    text-align: center;
}

#edit:hover{
    background-color:#5dd15d;
}

#inbox:hover {
    background-color: #1779ba;    
}

#calendar:hover {
    background-color: #a245b9;    
}

#admin:hover {
    background-color: #db9a22;    
}

.button-badge-large i {
    font-size: 200%;
}

.button-badge-largeBadge{
    background-color: rgb(0, 0, 0);
}
  
.button-badge:hover {
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.badge {
/* red alert count */
position: absolute;
top: -10px;
right: -10px;
font-size: .8em;
}

.button-badge i, 
.button-badge-large i {
color: white;
}
  
  


/* source: https://foundation.zurb.com/building-blocks/blocks/profile-card-action-icons.html */
/* profileEdit page only */
.profile-card-action-icons {
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin-bottom: 1.6rem;
    border-radius: 0.125rem;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.18), 0 0.125rem 2px rgba(0, 0, 0, 0.36);
  }
  
  .profile-card-action-icons .card-section {
    background-color: inherit;
    padding: 0.5rem 0 0;
  }
  
  .profile-card-action-icons .card-section .profile-card-header,
  .profile-card-action-icons .card-section .profile-card-about {
    border-bottom: 0.0625rem solid #cacaca;
    padding: 0.7rem 1rem;
  }

  .profile-card-action-icons .card-section .profile-card-header{
      padding: 2rem;
  }
  
  .profile-card-action-icons .card-section .profile-card-header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  /* right-side description starting point */
  .profile-card-action-icons .card-section .profile-card-header .profile-card-avatar {
    margin-right: 3rem;
  }
  
  /* avatar image size */
  .profile-card-action-icons .card-section .profile-card-header .profile-card-avatar .avatar-image {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
  }
  
  .profile-card-action-icons .card-section .profile-card-header .profile-card-author {
    -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    margin-top: 0.3rem;
    padding-bottom: 0;
  }
  
  .profile-card-action-icons .card-section .profile-card-header .profile-card-author .author-title,
  .profile-card-action-icons .card-section .profile-card-header .profile-card-author .author-description {
    margin-bottom: 0;
  }
  
  .profile-card-action-icons .card-section .profile-card-header .profile-card-author .author-title {
    color: #0a0a0a;
    font-size: 1.5em;
  }
  
  .profile-card-action-icons .card-section .profile-card-header .profile-card-author .author-description {
    /* things that I like font */
    color: #8a8a8a; 
    font-size: 0.9em;
  }
  
  .profile-card-action-icons .card-section .profile-card-about .about-title {
    text-transform: uppercase;
  }
  
  .profile-card-action-icons .card-section .profile-card-about .separator-left {
    text-align: left;
  }
  
  .profile-card-action-icons .card-section .profile-card-about .separator-left::before, .profile-card-action-icons .card-section .profile-card-about .separator-left::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  
  .profile-card-action-icons .card-section .profile-card-about .separator-left::after {
    clear: both;
  }
  
  .profile-card-action-icons .card-section .profile-card-about .separator-left::after {
    position: relative;
    width: 3rem;
    border-bottom: 0.125rem solid #1779ba;
    margin: 0.3rem auto 0;
    margin-left: 0;
  }
  
  .profile-card-action-icons .card-section .profile-card-about .about-content {
    margin-bottom: 0;
  }
  
  .profile-card-action-icons .card-section .profile-card-about .about-skills {
    margin-top: 0.6rem;
  }
  
  .profile-card-action-icons .card-section .profile-card-about .about-skills ul.arrow {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  
  .profile-card-action-icons .card-section .profile-card-about .about-skills ul.arrow li:before {
    content: '\f006';
    font-family: 'FontAwesome';
    float: left;
    color: #1779ba;
    margin-right: 0.5rem;
  }
  
  .profile-card-action-icons .card-section .profile-card-action {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .profile-card-action-icons .card-section .profile-card-action .action-area {
    width: 25%;
    border-right: 0.0625rem solid #cacaca;
    text-align: center;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
  
  .profile-card-action-icons .card-section .profile-card-action .action-area:last-of-type {
    border-right: none;
  }
  
  .profile-card-action-icons .card-section .profile-card-action .action-area .action-anchor.has-tip {
    border-bottom: none;
    cursor: pointer;
  }
  
  .profile-card-action-icons .card-section .profile-card-action .action-area .action-anchor .fa {
    color: #1779ba;
  }
  
  