body {
  background-color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.spaced-row > .row {
  padding: 10px;
}

.middle {
  padding-top: 50px;
  padding-bottom: 50px;
}

.modal-open {
  padding: 0 !important;
  overflow-y: inherit;
}

#red-text {
  color: red;
}

.button-badge {
  width: 100%;
  padding-top: 20%;
  padding-bottom: 20%;
  background-color: #46d9bf;
  position: relative;
  display: inline-block;
  transition: all ease-out 0.3s;
  text-align: center;
}

.button-badge-large {
  background-color: rgba(50, 50, 50, 0.5);
  width: 100%;
  padding-top: 20%;
  padding-bottom: 20%;
  text-decoration: none;
  position: relative;
  display: inline-block;
  /* rounded corners roundess */
  border-radius: 0.3rem;
  transition: all ease 0.3s;
  text-align: center;
}

#edit:hover {
  background-color: #5dd15d;
}

#inbox:hover {
  background-color: #1779ba;
}

#calendar:hover {
  background-color: #a245b9;
}

#admin:hover {
  background-color: #db9a22;
}

.button-badge-large i {
  font-size: 200%;
}

.button-badge-largeBadge {
  background-color: black;
}

.badge {
  /* red alert count */
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 0.8em;
}

.button-badge i,
.button-badge-large i {
  color: white;
}

.button {
  background-color: #00a1d8;
  color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
  transition: all ease-out 0.3s;
  border-radius: 0.3em;
}
.button:hover {
  color: #003056;
  background-color: #3fc3ac;
}

.secondary-button {
  color: red;
}

.jobjoin {
  padding: 5px;
}

#blocked-button {
  background-color: gray;
  color: #b9b9b9;
}

.card {
  color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
  background: #eeeeee;
  border-width: 2px;
}

.card-divider {
  background-color: #0056a7;
  font-family: Roboto, Arial, sans-serif;
  font-size: 2em;
}

.card-section {
  color: black;
}

.top-bar {
  background: #003056;
}
.top-bar ul {
  background: #003056;
}
.top-bar-right ul li a {
  color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
}
.top-bar-right ul li .button-badge {
  color: white;
}
.top-bar-right ul li .button-badge:hover {
  color: white;
  background-color: #f04e31;
}
.top-bar-right > .menu {
  padding-right: 20px;
}
.top-bar-right .menu hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.top-bar-right .menu li > a {
  transition: all ease-out 0.3s;
}
.top-bar-right .menu li > a:hover {
  color: white;
  background-color: #f04e31;
}
.top-bar-left ul a {
  transition: all ease-out 0.3s;
}
.top-bar-left ul a:hover {
  background-color: #f04e31;
}
.top-bar-left ul a .homeFont {
  font-size: 1.5rem;
  color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
}
.top-bar-left ul a .homeFont:hover {
  color: white;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: white rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  margin-top: 0px;
  margin-right: 3px;
}
.dropdown.menu > li.is-active > a {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.dropdown .menu {
  padding-top: 10px;
  padding-bottom: 10px;
}

.hoverableImg {
  opacity: 0.75;
  transition: all ease 0.3s;
}
.hoverableImg:hover {
  opacity: 1;
}

.forgotPassword a {
  font-size: 1em;
  color: black;
  text-decoration: underline;
  transition: all ease-out 0.3s;
}
.forgotPassword a:hover {
  color: dimgray;
}

.suggestedEventsTitle {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 10px;
  color: black;
}
.suggestedEventsDescription {
  color: black;
  padding-bottom: 30px;
}
.suggestedEventsAttributes {
  color: black;
}

.upcomingEventsModalable {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.3em;
  margin-bottom: 20px;
}
.upcomingEventsModalable li {
  transition: all ease-out 0.3s;
}
.upcomingEventsModalable li:hover {
  background-color: #f04e31;
}
.upcomingEventsModalable li:hover:first-child {
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
}
.upcomingEventsModalable li:hover:last-child {
  border-bottom-right-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}
.upcomingEventsModalable li ul {
  padding: 10px;
}
.upcomingEventsModalable li a {
  color: white;
  font-family: Roboto, Arial, sans-serif;
}

.welcomePanel {
  color: white;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0.3rem;
  background-image: linear-gradient(160deg, #0056a7, #00a1d8, #46d9bf, #fcb239, #f04e31);
  border-width: 2px;
}

.profileTemplate .spaced-row .row .profileImage {
  width: 100%;
  height: 200%;
}
.profileTemplate .spaced-row .row .profileAdditionalInfo .profileTitle p {
  text-align: center;
  font-size: 1.2em;
}
.profileTemplate .spaced-row .row .profileAdditionalInfo .profileAttributes {
  text-align: center;
}

.progress.success .progress-meter {
  background: linear-gradient(160deg, #0056a7, #00a1d8, #46d9bf, #fcb239, #f04e31);
}
.progress .progress-meter {
  background: #969696;
  margin-top: 4px;
}

.row .userProfileImage img {
  border-radius: 50%;
}
.row .userProfileImage .progress .progress-meter {
  background-color: #38ae99;
}
.row .userProfileAboutMe .card .certTitle {
  font-size: 1em;
}
.row .userProfileAboutMe .card .card-section {
  color: black;
  overflow-y: auto;
}
.row .userProfileAboutMe .card .card-section .aboutMeTitle {
  font-size: 2em;
}
.row .userProfileAboutMe .card .card-section .aboutMeTitle h4 {
  display: flex;
  width: 100%;
  align-items: center;
}
.row .userProfileAboutMe .card .card-section .aboutMeTitle h4::before, .row .userProfileAboutMe .card .card-section .aboutMeTitle h4::after {
  content: "";
  background: linear-gradient(to left, #0056a7, #00a1d8, #46d9bf, #eeeeee);
  height: 0.1em;
  margin: 0.2em;
  flex: 1;
}
.row .userProfileAboutMe .card .card-section .aboutMeTitle h4::after {
  background: linear-gradient(to right, #0056a7, #00a1d8, #46d9bf, #eeeeee);
}

.cover {
  object-fit: cover;
  width: 175px;
  height: 175px;
}

span.has-tip {
  font-weight: normal;
  font-size: 0.75em;
}

.userProfileCertificate .card {
  height: 150px;
}
.userProfileCertificate .card .card-divider {
  background-color: #00a1d8;
}

/*# sourceMappingURL=output.css.map */
