@import '../_variables';
@import '../_functions';

.row {
    .userProfileImage {
        img {
            border-radius: 50%;
        }
        .progress {
            .progress-meter {
                background-color: shade($theme-color-medlight, 20);
            }
        }
    }
    .userProfileAboutMe {
        .card {
            .certTitle {
                font-size: 1em;
            }
            .card-section {
                color: black;
                overflow-y: auto;
                .aboutMeTitle {
                    font-size: 2em;
                    h4 {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        &::before {
                            content: "";
                            background: linear-gradient(to left, $theme-color-darkmed, $theme-color-med, $theme-color-medlight, #eeeeee);
                            height: 0.1em;
                            margin: 0.2em;
                            flex: 1;
                        }
                        &::after {
                            @extend ::before;
                            background: linear-gradient(to right, $theme-color-darkmed, $theme-color-med, $theme-color-medlight, #eeeeee);
                        }
                    }
                }
                .aboutMeContent {
                    height: 150px;
                }
                .switch {
                    display: flex;
                    align-self: center;
                    margin-bottom: 0px;
                    .switch-text {
                        padding-right: 10px;
                        color: #cacaca;
                    }
                }
            }
        }
    }
}

.cover {
    object-fit: cover;
    width:175px;
    height:175px;
}

span.has-tip {
    font-weight: normal;
    font-size: 0.75em;
}

.userProfileCertificate {
    .card {
        height: 150px;
        .card-divider {
            background-color: $theme-color-med;
        }
    }
}