{% extends "main_template.html" %}

{% block middleColumn %}
<div class="blog-post">
    <h2>VOLUNTEER.COM</h2>
    <img class="thumbnail" src="https://placehold.it/850x350">
    <h4>HELLO</h4>
    <p>This is a webpage for volunteers seeking volunteer work.</p>
    <!-- <div class="callout">
        <ul class="menu simple">
            <li><a href="#">Author: Mike Mikers</a></li>
            <li><a href="#">Comments: 3</a></li>
        </ul>
    </div> -->


    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nibh ante, pharetra vel dapibus nec, vehicula nec
    mauris. Integer lectus metus, sagittis quis tincidunt placerat, rhoncus et ex. In ultrices augue tellus, et
    efficitur mauris feugiat nec. Nullam accumsan magna ante, non malesuada nisl sollicitudin nec. Cras a pellentesque
    nulla, ut rhoncus nulla. Sed non eleifend lectus. Aliquam sit amet libero mauris. Phasellus pharetra mi ut mollis
    lacinia. Proin interdum odio a enim iaculis aliquam. Donec a velit ipsum. Donec eget purus nec justo iaculis
    placerat. In blandit sapien vitae ornare cursus. Nullam posuere condimentum scelerisque. Donec lobortis nulla
    dictum vulputate laoreet. Aenean ultricies felis id lectus sagittis tincidunt. Proin semper turpis a lorem viverra
    euismod.<br><br>
    Praesent id tellus a turpis vulputate ullamcorper. Orci varius natoque penatibus et magnis dis parturient montes,
    nascetur ridiculus mus. Sed placerat ac neque a tincidunt. Vivamus tincidunt lorem ac commodo condimentum. Donec
    nisl sem, hendrerit sed facilisis non, blandit sit amet libero. Aliquam ut lorem enim. Sed venenatis, sem vel
    euismod suscipit, nisi nunc efficitur risus, at interdum massa risus vitae massa. Nunc quis bibendum felis. Integer
    lacinia consectetur mauris ac pellentesque. Nulla quis leo quis metus sollicitudin convallis ac ut mi. Fusce
    tincidunt quam et mollis aliquam. Nulla viverra velit eros, ut suscipit mauris ultrices ac. Fusce dictum efficitur
    viverra. Aenean sollicitudin efficitur erat quis ultricies. Maecenas hendrerit lacus vitae velit pulvinar molestie.
    Maecenas id nisi bibendum, convallis nunc feugiat, facilisis diam.<br><br>
    Ut malesuada porttitor dignissim. Pellentesque vehicula purus tellus, non auctor mi malesuada vitae. Aliquam eget
    ornare ligula, eu pharetra ex. Nam ac efficitur massa. Vestibulum in est dolor. Nulla placerat leo erat, a
    fringilla eros fermentum at. Quisque ligula sapien, efficitur nec mattis ac, sollicitudin non mi. Quisque vehicula
    risus non risus lacinia, vel maximus erat vulputate. Nunc efficitur risus ac semper porttitor. Nullam quis neque
    bibendum nunc posuere aliquet. Fusce ut faucibus metus. Cras nec sagittis metus, ac tincidunt sem. Nulla urna nisi,
    elementum eget ipsum eu, ornare fermentum ante. Aliquam lectus nisi, vehicula at aliquam non, semper et orci.
    Vivamus efficitur facilisis augue, nec bibendum ipsum congue et.<br><br>
    Nunc aliquet eget lacus vitae ullamcorper. Ut ac leo vel nisl sollicitudin pellentesque quis eget justo. Vivamus
    libero felis, sollicitudin sit amet accumsan nec, pharetra sed nunc. Nunc malesuada vestibulum mattis. Aenean nibh
    tellus, vestibulum et mollis a, viverra commodo enim. Praesent fringilla lacinia ullamcorper. Etiam laoreet ipsum
    aliquet tristique maximus. Pellentesque nec imperdiet leo, commodo dapibus libero. Aenean bibendum sem sit amet ex
    cursus faucibus. Maecenas in volutpat lorem, id accumsan felis. Curabitur semper viverra dapibus. Aenean tincidunt
    diam eu quam ullamcorper cursus.<br><br>

    Nulla in neque id ante dignissim placerat id non ante. Sed consequat velit dui, tristique tristique risus ultrices
    quis. Vivamus id lacinia purus. Nullam scelerisque quis metus nec facilisis. Quisque convallis, nibh quis elementum
    tincidunt, tortor odio vulputate dolor, vitae fringilla libero elit a dolor. Integer eget luctus tortor. Vestibulum
    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Aliquam euismod
    nunc nunc, ut sollicitudin elit convallis non. Quisque sit amet aliquam nisi.
</div>
{% endblock %}

{% block alertExamples %}
<div class="container">
    <h2>Alerts</h2>
    <div class="alert alert-success">
        <strong>Success!</strong> This alert box could indicate a successful or positive action.
    </div>
    <div class="alert alert-info">
        <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
    </div>
    <div class="alert alert-warning">
        <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
    </div>
    <div class="alert alert-danger">
        <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
    </div>
</div>
<div class="container">
    <h2>Alerts</h2>
    <div class="alert alert-success">
        <strong>Success!</strong> This alert box could indicate a successful or positive action.
    </div>
    <div class="alert alert-info">
        <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
    </div>
    <div class="alert alert-warning">
        <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
    </div>
    <div class="alert alert-danger">
        <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
    </div>
</div>
<!--<div class="medium-3 columns" data-sticky-container>-->
<!--<div class="sticky" data-sticky data-anchor="content">-->
<!--<li><button type="submit" class="button">Login</button></li>-->
<!--<li><a href="#">Yes</a></li>-->
<!--<li><a href="#">Yes</a></li>-->
<!--<li><a href="#">Yes</a></li>-->
<!--<li><a href="#">Yes</a></li>-->
<!--</div>-->
<!--</div>-->
{% endblock %}

{% block sideBar %}
{% endblock %}

{% block topMenuLeft %}
<ul class="menu">
    <li class="menu-text">VOLUNTEER.COM</li>
</ul>
{% endblock %}


{% block topMenuRight %}
<ul class="menu">
    <li class="is-active"><a href="#">Home</a></li>

    {% if user.is_authenticated %}

    <li class="menu-text">Hello, {{ username }}</li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Logout</a></li>
    {% else %}
    <li><a href="createAccount/">Create Account</a></li>
    <li><a href="#">Sign In</a></li>
    {% endif %}
    <li><input type="search" placeholder="Search"></li>
    <li><button type="button" class="button">Search</button></li>
</ul>
{% endblock %}

{% block footerMenu %}
<ul class="menu align-middle">
    <li><a href="#">Contact</a></li>
    <li><a href="#">Sitemap</a></li>
    <li><a href="#">About</a></li>
</ul>
{% endblock %}