{% extends "main_template.html" %}

{% block navBarRight %}
{% endblock %}

{% block middleColumn %}
<div class="spaced-row">
  <div class="row">
    <div class="small-12 medium-6 large-6 columns">
      <div class="welcomePanel">
        {% if not user.is_authenticated %}
        <h1>Welcome!</h1><br>
        <h5>Volunteer Fairbanks is helping Fairbanks connect volunteers to organizations. <br><br> Get started by
          creating an account
          or signing in.</h5>
        {% else %}
        <h1>Hi, {{ user.first_name }}!</h1><br>
        <h5>Get started by browsing upcoming events and joining as a volunteer. <br><br> Feel free to visit the <a href="#">FAQ
            page</a>.</h5>
        {% endif %}
      </div>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <div class="hoverableImg">
        <img src="static/images/hands.jpg">
      </div>
    </div>
  </div>
  <div class="row">
    {% if user.is_authenticated %}
    <div class="large-8 columns">
      <div class="card">
        <div class="card-divider">
          Suggested events
        </div>
        <div class="card-section">
          <div class="row">
            <div class="large-6 columns">
              <img class="thumbnail" src="static/images/cupcakes.jpg">
            </div>
            <div class="large-6 columns">
              <div class="suggestedEventsAttributes">
                <i class="fi-marker"></i> 123 Big Street Apartment 2<br><br>
                <i class="fi-clock"></i> ALL DAY <br><br>
                <i class="fi-torso"></i> IN PERSON<br><br>
                <i class="fi-torsos-all"></i> BRING YOUR FRIENDS <br><br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">

              <div class="suggestedEventsTitle">
                Bake Sale Needing Baked Goods by TONIGHT
              </div>
              <div class="suggestedEventsDescription">
                Lorem ipsum dolor sit amet, sea facer fabulas erroribus an, ut sit dicit ancillae. Pri
                quod primis
                cu, ut quaeque evertitur neglegentur mea. Vix quidam comprehensam no. Per vitae utinam
                assueverit ea,
                cum id ipsum nostrum antiopam. Quo eu wisi erant, qui inani affert ei, eam cu nisl
                aeterno convenire.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <a class="button">Add to calendar</a>
              <a class="button">Share</a>
              <a class="button">Like</a>
              <a class="button alert float-right">Report</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% else %}

    <div class="column large-4">
      <div class="card">
        <div class="card-divider">
          New users
        </div>
        <div class="card-section">
          <a href="{% url 'account_signup' %}" class="button large expanded">Create account</a> <button class="button large expanded">Learn
            more about accounts</button> </div>
      </div>
    </div>
    <div class="column large-4">
      <div class="card">
        <div class="card-divider">
          Returning users
        </div>
        <div class="card-section">
          <!-- <input id="checkbox1" type="checkbox"><label for="checkbox1"><b>Remeber login info</b></label> -->
          <a href="{% url 'account_login' %}" class="button large expanded">Sign in</a>
        </div>
      </div>
    </div>

    {% endif %}
    <div class="large-4 columns">
      <div class="card text-center">
        <div class="card-divider">
          Upcoming events
        </div>
        <div class="card-section">
          <div class="scrollableEvents">
            <ul class="vertical menu" data-accordion-menu data-submenu-toggle="true">
              <div class="upcomingEventsModalable">
                {% if upcomingEvents|length > 0 %}
                {% for event in upcomingEvents %}
                <div class="reveal" id="event1" data-reveal>
                  <div class="profileTemplate">
                    <div class="spaced-row">
                      <div class="row">
                        <div class="columns large-12">
                          <a href="{% url 'events' %}">Show in calendar</a> / <a href="#">Message organization</a> / <a
                            href="#" id="red-text">Report event</a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="large-4 columns profileImage">
                          <img src="static/images/28469.png">
                        </div>
                        <div class="large-8 columns profileAdditionalInfo">
                          <div class="profileTitle">
                            <p>{{event.id}}{{event.name}}</p>
                          </div>
                          <div class="profileAttributes">
                            <div class="verticallyAlignedLargeIconSmallText">
                              <i class="fi-marker"></i>
                              <span>
                                {{event.location}}
                              </span>
                            </div>
                            <div class="verticallyAlignedLargeIconSmallText">
                              <i class="fi-calendar"></i>
                              <span>
                                {% if startdate is enddate %}
                                {{event.startdate}}
                                {% else %}
                                {{event.startdate}} ~ {{event.enddate}}
                                {% endif %}
                              </span>
                            </div>
                            <div class="verticallyAlignedLargeIconSmallText">
                              <i class="fi-clock"></i>
                              <span>
                                {{event.starttime}} ~ {{event.endtime}}
                              </span>
                            </div>
                            Host: {{event.orgID}}
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="large-12 columns profileDescriptionTitle">
                          <h4 class="textWithBar">About this event</h4>
                        </div>
                        <div class="row">
                          <div class="large-12 columns profileDescription">
                            {{event.description}}
                          </div>
                        </div>
                      </div>
                      <!-- {% for jobType in jobTypes %}
                      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0"
                        aria-valuemax="100">
                        <div class="progress-meter"></div>
                      </div>
                      {% endfor %} -->
                      <div class="row">
                        <div class="large-12 columns">
                          <div class="row">
                            <div class="large-2 columns" id="jobname">
                              chef/prep
                            </div>
                            <div class="large-9 columns">
                              <div class="progress" role="progressbar" tabindex="0" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100">
                                <div class="progress-meter" style="width:75%">
                                </div>
                              </div>
                            </div>
                            <div class="large-1 columns">
                              <button class="button jobjoin">Join</button>
                            </div>
                          </div>
                          <div class="row">
                            <div class="large-2 columns">
                              server
                            </div>
                            <div class="large-9 columns">
                              <div class="progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100">
                                <div class="progress-meter" style="width:25%">
                                </div>
                              </div>
                            </div>
                            <div class="large-1 columns">
                              <button class="button jobjoin">Join</button>
                            </div>
                          </div>
                          <div class="row">
                            <div class="large-2 columns">
                              cleanup
                            </div>
                            <div class="large-9 columns">
                              <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-meter" style="width:100% ">
                                </div>
                              </div>
                            </div>
                            <div class="large-1 columns">
                              <button class="button jobjoin" id="blocked-button">Join</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <!-- <button class="button float-right" type="button">See more >></button> -->
                </div>
                <li><a href="#" data-open="event1">{{event.id}}{{event.name}}</a></li>
                {% endfor %}
                {% else %}
                <div class="noUpcomingEvents">
                  No upcoming events! :(
                </div>
                {% endif %}
              </div>
            </ul>
          </div>
          <a href="{% url 'events' %}" class="button large expanded">Check calendar</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block orbit %}
<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container">
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" width="100" height="100" src="static/images/american-back-blue-1449085.jpg" alt="Space">
          <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://placehold.it/1200x600/888?text=Slide-2" alt="Space">
          <figcaption class="orbit-caption">Lets Rocket!</figcaption>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://placehold.it/1200x600/777?text=Slide-3" alt="Space">
          <figcaption class="orbit-caption">Encapsulating</figcaption>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://placehold.it/1200x600/666&text=Slide-4" alt="Space">
          <figcaption class="orbit-caption">Outta This World</figcaption>
        </figure>
      </li>
    </ul>
  </div>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current
        Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>
</div>
{% endblock %}