{% extends "main_template.html" %}

{% block middleColumn %}
<div class="blog-post">
    <h2>Volunteer</h2>
    <img class="thumbnail" src="https://placehold.it/850x350">
    <h4>Dear HvZ Players</h4>
    <p>We are pleased to welcome you.</p>
    <!-- <div class="callout">
        <ul class="menu simple">
            <li><a href="#">Author: Mike Mikers</a></li>
            <li><a href="#">Comments: 3</a></li>
        </ul>
    </div> -->
</div>
{% endblock %}

{% block sideBar %}
<!--TODO Add code here-->
{% endblock %}
