<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VOLUNTEER</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <link rel="shortcut icon" type="image/png" href="{% static 'source/fasterToothpick.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'source/css/foundation.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'source/icons/foundation-icons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'source/css/app.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'source/css/jquery-ui.css' %}" />
    <link rel="stylesheet" href="css/foundation-icons.css" />
    <script type="text/javascript" src="{% static 'source/js/jquery-3.3.1.min.js' %}">
    </script>

    <script type="text/javascript" src="{% static 'source/js/moment.min.js' %}">
    </script>

    <script type="text/javascript" src="{% static 'source/js/jquery-ui.js' %}">
    </script>
    {% block headerInclude%}
    {% endblock %}
</head>

<body>
    <!-- DESKTOP STICKY NAVIGATION -->
    <div data-sticky-container>
        <div class="white-top-bar">
            <div class="top-bar" data-sticky data-margin-top="0" data-top-anchor="1" data-btm-anchor="content:bottom">
                <div class="top-bar-left">
                    <ul class="menu">
                        <a href="/" class="menu-text">
                            <div class="homeFont">
                                Volunteer Fairbanks <i class="fi-home"></i>
                            </div>
                        </a>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
                        <li><a href="{% url 'events' %}">Events</a></li>

                        {% block navBarRight %}
                        {% endblock %}

                        {% if user.is_authenticated %}
                        <!-- <li>
                            <a class="fi-list"></a>
                            <ul class="vertical menu">
                            </ul> -->
                        <li><a href="{% url 'profileManage' %}">Profile</a></li>
                        <li><a href="{% url 'yourOrganizations'%}">Organization</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a href="#" class="button-badge">
                                <i class="fi-mail"></i>
                                <span class="badge alert">5</span>
                            </a></li>
                        </li>
                        {% else %}
                        <li><a href="{% url 'signup' %}">Create Account</a></li>
                        <li><a href="{% url 'login' %}">Sign In</a></li>
                        {% endif %}
                        <li><a href="#"><i class="fi-wrench"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- HERO -->

    <!-- CONTENT -->
    <div class="middle">
        <!-- if True should be changed to if user.is_authenticated when it is proper -->
        <!-- This is just for testing the user's homepage (as opposed to stranger landing page) -->
        {% if user.is_authenticated %}
        {% block middleColumnAuthorizedUser %}
        {% endblock %}

        {% else %}
        {% block middleColumn %}
        {% endblock %}
        {% endif %}
    </div>

    <!-- FOOTER -->
    <footer>
        <div class="row align-middle text-align-middle text-center">
            <div class="column align-middle"><a href="#">Contact</a></div>
            <div class="column align-middle"><a href="{% url 'about' %}">About</a></div>
            <div class="column align-middle"><a href="#">Sitemap</a></div>
        </div>
    </footer>

    {% load static %}
    <script src="{% static 'source/js/vendor/foundation.core.min.js' %}"></script>
    <script src="{% static 'source/js/vendor/foundation.min.js' %}"></script>
    <script src="{% static 'source/js/vendor/foundation.sticky.min.js' %}"></script>
    <script src="{% static 'source/js/app.js' %}"></script>
    <script>
        $(document).foundation();
    </script>
</body>


</html>