<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VOLUNTEER</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <link rel="shortcut icon" type="image/png" href="{% static 'source/fasterToothpick.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'source/css/foundation.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'source/icons/foundation-icons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'source/css/app.css' %}" />
	{% block headerInclude%}
	{% endblock %}
</head>

<body>
    <!-- DESKTOP STICKY NAVIGATION -->
    <div data-sticky-container>
        <div class="white-top-bar">
            <div class="top-bar" data-sticky data-margin-top="0" data-top-anchor="1" data-btm-anchor="content:bottom">
                <div class="top-bar-left">
                    <ul class="menu">
                        <a href="/" class="menu-text">VOLUNTEER</a>
                    </ul>
                    {% block topMenuLeft %}
                    {% endblock %}
                </div>
                <div class="top-bar-right">
                    <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
                        <li><a href="{% url 'events' %}">Events</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        {% if user.is_authenticated %}
                        <li>
							<a class="fi-list"></a>
							<ul class="vertical menu">
								<li><a href="{% url 'profile' %}">Profile</a></li>
								<li><a href="{% url 'yourOrganization'%}">Organization</a></li>
								<li><a href="{% url 'logout' %}">Logout</a></li>
							</ul>
						</li>
                        {% else %}
						
                        <li><a href="{% url 'signup' %}">Create Account</a></li>
                        <li><a href="{% url 'login' %}">Sign In</a></li>
                        {% endif %}
                        {% block topMenuRight %}
                        {% endblock %}

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- HERO -->

    <!-- CONTENT -->
    <div class="hero-section">
        <div class="row align-justify padding-100" id="content">
            <div class="column large-12">
                {% block middleColumn %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <div class="row align-middle text-align-middle text-center">
            <div class="column align-middle"><a href="#">Contact</a></div>
            <div class="column align-middle"><a href="#">About</a></div>
            <div class="column align-middle"><a href="#">Sitemap</a></div>
        </div>
    </footer>

    {% load static %}
    <script src="{% static 'source/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'source/js/vendor/foundation.core.min.js' %}"></script>
    <script src="{% static 'source/js/vendor/foundation.min.js' %}"></script>
    <script src="{% static 'source/js/vendor/foundation.sticky.min.js' %}"></script>
    <script src="{% static 'source/js/app.js' %}"></script>
    <script>
        $(document).foundation();
    </script>
</body>


</html>