{% extends "main_template.html" %}

{% block middleColumn %}
<div class="small-centered text-center columns">
	<header>
		<br><br>
		<h4>-- MISSION --</h4>
		<p>To match the best volunteers with the best charity organizations.</p>
		<br><hr><br>
		<h4> About </h4>
		<p>Lorem ipsum dolor sit amet, cibo civibus an nam, no vel diam
		iudicabit conclusionemque. Cu qui quis tibique complectitur, ne
		sea sumo ignota, his an debet legere scripserit. Phaedrum principes
		vim ad, ferri temporibus eu vis, duo in summo persecuti instructior.
		Congue verear ex vis, utroque civibus nec ne. Ad vis dictas accusata
		forensibus, ut propriae salutandi sed. Ius vero recusabo intellegebat ei.</p>
		<br><hr><br>
		<h4> Contact </h4>
		<p> IT Number: (123)456-7890 </p>
		<br><br>
	</header>
    
  </div>
{% endblock %}

{% block sideBar %}
<!--TODO Add code here-->
{% endblock %}
